
/* .filaNav{
    height: 290px;
}

nav{   
    background-image: url(../img/imgnav.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 553px; 
} 

.menu{
    color: #f5cd42;
    font-size: 30px;
    text-align: center;
    font-family: Swis721 BlkCn BT Black;
    text-decoration:none;
}

.menu:hover {
    color:#ffffff;
  }


.carrito{
    height: 50px;
} */

